<div class="container">
	<div class="row">
		<div class="col-md-7">
			<form class="form-group" action="/results">
				<label>Word to Search Count</label>
				<input required class=form-control type="text" value="" name="word" placeholder="enter one word here">
				<label>Haystack to search through</label>
				<textarea required cols="20" rows="10" class=form-control type="text" value="" name="string" placeholder="enter a long string to search through"></textarea>
				<button id="button" type="submit" class="btn btn-success">Count</button>
			</form>
		</div>
	</div>
</div>