<!DOCTYPE>
<!DOCTYPE html>
<html>
	<head>
		<title>Word Occurence Counter</title>
		 <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
	</head>
	<body>
		<a href="/">Home</a>
		<div class='container'>
			<h1 class="text-primary">Word Occurence Counter</h1>
		<%=yield%>
		</div>
	</body>
</html>